.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #eee;
  border-radius: 50%;
}

.border {
  box-shadow: 0 0 0 3px #4fc3f7, inset 0 0 0 1px #0ba8ef;
}

.dot {
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lime;
}
