.container {
  min-width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  position: relative;
  padding: 1rem 1.2rem;
  border-left: 1px solid #ddd;
  background-color: #f2f2f2;
  transition: background-color 0.1s ease-in;
}

.container:not(:hover) .settingIcon,
.container:not(:hover) .dragdropIcon {
  transition: all 0.1s linear;
  opacity: 0;
}

.container:hover .settingIcon,
.container:hover .dragdropIcon {
  transition: all 0.1s linear;
  opacity: 1;
}

.container:hover {
  background-color: #eaeaea;
  transition: background-color 0.1s ease-in;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 0.9rem;
  font-weight: 600;
}

.taskHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.tasks {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(330px - 2.4rem);
  padding: 0.7rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  background-color: white;

  transition: box-shadow 0.1s ease-in;
}

.taskCommentCount {
  font-size: smaller;
  color: #515151;
}

.task:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16), 0 2px 9px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s ease-in;
}

.AddTaskIcon {
  cursor: pointer;
}

.taskTitle {
  color: #444;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.dragdropIcon {
  position: absolute;
  cursor: all-scroll;
  right: 3px;
  top: 1rem;
}

.dragdropIcon:hover svg path,
.settingIcon:hover svg path {
  transition: fill 0.1s ease-in;
  fill: #111;
}

.settingIcon {
  cursor: pointer;
}

.dragdropIcon svg path {
  width: 55px;
}

.settingIcon svg path,
.dragdropIcon svg path {
  transition: fill 0.1s ease-in;
  fill: #aaa;
}
