.container {
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  padding: 0.25rem 0.4rem;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-size: small;
  transition: border-color 0.1s;
}

.container:hover {
  transition: all 0.1s;
  border-color: #bbb;
}

.containerOnFocus {
  border-color: #00bfff !important;
}

.container:hover #TextInput::placeholder {
  color: #333;
}

#TextInput {
  color: #111;
  border: none;
  background-color: white;
  width: 16rem;
}

#TextInput::placeholder {
  font-style: italic;
  color: #555;
  transition: all 0.1s;
}

#TextInput:focus {
  outline: none;
}

#TextInput:focus::placeholder {
  transition: all 0.1s;
  color: #d9d9d9 !important;
}

#magnify {
  color: #aaa;
  cursor: pointer;
}
