/* font face */

@font-face {
  font-family: IRANsans;
  src: url("../../../public/assets/fonts/IRANSans.woff2");
}

/* form */

.form-main {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.form-main * {
  font-family: IRANsans;
}

.form-control {
  width: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

/* input */

.form-control input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #aaa;
  transition: border 0.1s;
  font-size: 1.2rem;
}

.form-control input:focus {
  border-bottom-color: #03a9f4;
  transition: all 0.1s;
  outline: none;
}

.input-valid {
}

.input-invalid {
  border-bottom-color: #c62828 !important;
  transition: all 0.1s;
}

/* button */

.btn-submit {
  box-shadow: 0 0 7px rgb(85, 85, 85);
  background-color: #03a9f4;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: none;
}

/* error */

.error-control {
  font-size: 0.7rem;
  height: 20px;
  text-align: right;
  padding: 3px 16px;
  color: #c62828;
  box-sizing: border-box;
}
